.input-boxes{
    border-radius: 6px;
    padding: 12px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #999;
    outline: none;
    background-color: #fff;
}
.booking-btn{
    margin-top: 20px;
    padding: 10px 10px;
    width: 80%;
    background-color: black;
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
}
.booking-btn:hover{
    background-color: #fff;
    color: black;
    border: black 3px solid;

}
